version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: job-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    restart: always
